<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hellow Vue!</title>
</head>
<body>
  <div id='app'>
    <h1>{{ message }}</h1>
    <p>{{ now }}</p>
    <hr>
    <span v-bind:title="message2"> <!-- updates title every when string message2 change -->
      v-bind: Put cursor here and wait for a few seconds
    </span>
    <hr>
    <div v-if="seen"> <!-- if seen === true -->
      v-if: Now you see me!
    </div>
    <hr>
    <ol>
      <li v-for="todo in todos"> <!-- -->
        {{ todo.text }}
      </li>
    </ol>
    <hr>
      <div v-if="seen"> <!-- -->
        v-if: Now you see me!
      </div>
    <hr>
  </div>
  
  <!-- Connect vue lib just right in html script tag -->
  <!-- This particular is for dev env. It provide's useful console output -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',

      data: {
        message: 'Hello Vue!',
        message2: 'Hellw again!' + new Date().toLocaleString(),
        now: new Date(),
        seen: true,
        todos: [
          { text: 'Learn JS!' },
          { text: 'Learn Vue!' },
          { text: 'Creat greate App!' },          
        ],
      },

      methods: {
        updateDate() {
          this.now = new Date();
        },
      },

      mounted() {
        setInterval(() => this.updateDate(), 1000);
      }
    });
  </script>
</body>
</html>
